.slide-left-enter-active {
  animation: slide-left 0.16s;
  position: relative;
}
.slide-left-leave-active {
  animation: slide-right 0.16s reverse;
}

.slide-right-enter-active {
  animation: slide-right 0.16s;
  position: relative;
}
.slide-right-leave-active {
  animation: slide-left 0.16s reverse;
}

@keyframes slide-left {
  0% {
    transform: translate(-10px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-right {
  0% {
    transform: translate(10px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
